<header>
    <div class="header">
      <img src="assets/images/header__bg.png" alt="">
        <div class="header__menu">
            <div class="header__logo">
                
                    <p><a href="index.html">Кафе</a></p>
                    <p class="logo__number"><a href="index.html">88</a></p>
                
            </div>
            <nav class="nav">
                <ul>
                    <li class="nav__main">
                        <a href="index.html"> Главная</a>
                    </li>
                    <li>
                        <a href="delivery.html"> Доставка</a>
                    </li>
                    <li>
                        <a href="about.html"> О нас </a>
                    </li>
                    <li>
                        <a href="#"> Меню </a>
                    </li>
                </ul>
            </nav> <!--Nav-->
            
        </div><!--header__menu-->
    
        <span class="header__line"> </span>
    </div> <!-- Header-->

</header>
